
body {font-family:Arial, Sans-Serif;}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
a {color:#ffd300; text-decoration:none;}
a:hover {text-decoration:underline;}
.form{width: 300px; margin: 0 auto; font-size: 24px;}
input[type='text'], input[type='email'], input[type='password'] {width: 300px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: #333; font-size: 24px; margin-top: 10px;}
input[type='submit']{padding: 10px 25px 8px; color: #000; background-color: #ffd300; text-shadow: rgba(0,0,0,0.24) 0 1px 0; font-size: 16px; box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; border: 1px solid #ffd300; border-radius: 2px; margin-top: 10px; cursor:pointer;}
input[type='submit']:hover {background-color: #ffd300;}